.container {
  flex-direction: row;
}

.left {
  box-sizing: content-box;
}
.not-allow-edit {
  :global {
    .overflow-guard {
      &::after {
        position: absolute;
        z-index: 1;
        width: calc(100% - 14px);
        height: 100%;
        opacity: .5;
        content: 'readonly';
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        background-color: var(--content-bg);
        transition: opacity .36s ease;
        cursor: not-allowed;
        backdrop-filter: blur(8px);
      }
      &:hover::after {
        backdrop-filter: blur(0px);
        opacity: 0;
      }
    }
  }
}
