/*custom*/
:root {
  padding: 0;
  margin: 0;
  font-family: nunito_for_arco, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, 微软雅黑, Arial, sans-serif;
  --blue: #7aa7ff;
  --lives-blue: #7fa1f7;
  --lives-purple: #7f85f7;
  --lives-green: #7ff7a9;
  --lives-red: #f77f7f;

  --primary-color: var(--lives-blue);
  --danger-color: var(--lives-red);
}

:root[theme-mode='dark'] {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: 'Poppins', sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #b7b7bb;
  --content-bg: rgb(146 151 179 / 13%);
  --content-bg-2: rgb(146 151 179 / 20%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242dee;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg: #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --placeholder-color: #9599a7;
  --theme-main-color: var(--lives-blue);
  --scrollbar-bg: rgb(255 253 253 / 27%);
  --hover-scrollbar-bg: rgb(255 253 253 / 37%);
}

:root[theme-mode='light'] {
  // --content-bg: rgb(146 151 179 / 13%);
  --content-bg: rgb(146 151 179 / 20%);
  --theme-bg-color: rgb(255 255 255 / 31%);
  --theme-color: #3c3a3a;
  --inactive-color: #333333;
  --button-inactive: #3c3a3a;
  --search-bg: rgb(255 255 255 / 31%);
  --dropdown-bg: #f7f7f7ee;
  --overlay-bg: rgb(255 255 255 / 30%);
  --dropdown-hover: rgb(232 232 232);
  --border-color: rgb(255 255 255 / 35%);
  --popup-bg: rgb(255 255 255);
  --hover-menu-bg: rgba(255 255 255 / 35%);
  --placeholder-color: rgba(85, 85, 85, 0.615);
  --content-title-color: --theme-color;
  --scrollbar-bg: rgb(1 2 3 / 20%);
  --hover-scrollbar-bg: rgb(1 2 3 / 30%);
  --theme-main-color: var(--lives-red);
}

:root[platform='mac'][theme-mode='dark'] {
  --global-bg-color: rgba(16 18 27 / 80%);
}
:root[platform='mac'][theme-mode='light'] {
  --global-bg-color: rgb(255 255 255 / 80%);
}
:root[platform='windows'][theme-mode='dark'] {
  --global-bg-color: rgba(16, 18, 27, 0.98);
}
:root[platform='windows'][theme-mode='light'] {
  --global-bg-color: rgba(230, 230, 230, 0.98);
}
:root[platform='mac'][theme-mode='dark'] {
  --global-bg-color: rgba(16 18 27 / 80%);
}
:root[platform='mac'][theme-mode='light'] {
  --global-bg-color: rgb(255 255 255 / 80%);
}
:root[platform='web'][theme-mode='dark'] {
  --global-bg-color: rgba(16, 18, 27, 0.98);
}
:root[platform='web'][theme-mode='light'] {
  --global-bg-color: rgba(230, 230, 230, 0.98);
}

* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
* ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  // background: transparent;
  border-radius: 10px;
}
*:hover::-webkit-scrollbar-thumb {
  background: var(--hover-scrollbar-bg);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.app-no-drag {
  -webkit-app-region: no-drag;
}
.app-drag {
  -webkit-app-region: drag;
}

svg {
  display: inherit;
}
