.history-crumb-container__fixed {
  position: fixed;
  left: 1rem;
  top: calc(1rem + 60px);
  z-index: 100;
}

.history-crumb-container__relative {
  position: relative;
}

.history-crumb-container {
  & > button {
    padding: 1.25rem;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--content-bg) 0%, var(--theme-bg-color) 100%);
    transition: 0.2s ease opacity;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
