.textarea {
  border-radius: 14px;
  height: 100% !important;
}

.tools {
  svg {
    width: 16px;
    height: 16px;
    padding-right: 8px;
    box-sizing: content-box;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  .clock-svg {
    margin-top: -0.3px;
    cursor: not-allowed;
    filter: grayscale(1) !important;
  }
}

.image-item {
  margin-right: 6px;
  img {
    object-fit: cover;
    width: 72px;
    height: 72px;
    border-radius: 6px;
  }
}
.icon-close {
  background: var(--dropdown-bg);
  border-radius: 50%;
  padding: 3px;
  right: 9px;
  top: 3px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.center-container {
  .file-item {
    width: max-content;
    padding: 0px 30px 0px 6px;
    border-radius: 6px;
  }
  .file-icon-close {
    right: 6px;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
  }
}

:global {
  :root[theme-mode='dark'] {
    :local {
      .tools {
        svg {
          filter: invert(85%) hue-rotate(180deg);
        }
        .clock-svg {
          margin-top: 0px;
        }
      }
    }
  }
}
