.textarea {
  border-radius: 14px;
  height: 100% !important;
}

.tools {
  svg {
    width: 16px;
    height: 16px;
    padding-right: 8px;
    box-sizing: content-box;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  .clock-svg {
    margin-top: -0.3px;
    cursor: not-allowed;
    filter: grayscale(1) !important;
  }
}

:global {
  :root[theme-mode='dark'] {
    :local {
      .tools {
        svg {
          filter: invert(85%) hue-rotate(180deg);
        }
        .clock-svg {
          margin-top: 0px;
        }
      }
    }
  }
}
