
.readonly{
  font-size: 12px;
  border: 1px solid;
  border-radius: 3px;
  padding: 1px 4px;
  margin-left: 3px;
  color: var(--theme-main-color);
  border-color: var(--theme-main-color);
  transform: scale(0.9);
}
