.file-type {
  color: white;
  border-radius: 100%;
  width: 32px;
  font-size: 14px;
  height: 32px;
  background: #aca49a;
}
.file-type-doc,
.file-type-DOC,
.file-type-docx,
.file-type-DOCX {
  background: #5f8ed3;
}
.file-type-ppt,
.file-type-PPT,
.file-type-pptx,
.file-type-PPTX {
  background: #ed9254;
}
.file-type-pdf,
.file-type-PDF {
  background: #00a99d;
}
.file-type-png,
.file-type-PNG {
  background: #7babff;
}
.file-type-jpg,
.file-type-JPG,
.file-type-JPEG,
.file-type-jpeg {
  background: #f7931e;
}
.file-type-xlsx,
.file-type-XLSX {
  background: #62cc65;
}
.file-type-xls,
.file-type-XLS {
  background: #61ceae;
}
.file-type-bmp,
.file-type-BMP {
  background: #81abf7;
}

.file-type-zip,
.file-type-ZIP,
.file-type-rar,
.file-type-RAR {
  background: #a481f7;
}
