.file-type {
  color: white;
  border-radius: 100%;
  width: 32px;
  font-size: 14px;
  height: 32px;
  --bg-color: #aca49a;
  background: var(--bg-color);
}
.file-type-doc,
.file-type-DOC,
.file-type-docx,
.file-type-DOCX {
  --bg-color: #5f8ed3;
}
.file-type-ppt,
.file-type-PPT,
.file-type-pptx,
.file-type-PPTX {
  --bg-color: #ed9254;
}
.file-type-pdf,
.file-type-PDF {
  --bg-color: #00a99d;
}
.file-type-png,
.file-type-PNG {
  --bg-color: #7babff;
}
.file-type-jpg,
.file-type-JPG,
.file-type-JPEG,
.file-type-jpeg {
  --bg-color: #f7931e;
}
.file-type-xlsx,
.file-type-XLSX {
  --bg-color: #62cc65;
}
.file-type-xls,
.file-type-XLS {
  --bg-color: #61ceae;
}
.file-type-bmp,
.file-type-BMP {
  --bg-color: #81abf7;
}

.file-type-zip,
.file-type-ZIP,
.file-type-rar,
.file-type-RAR {
  --bg-color: #a481f7;
}
