.container {
  display: flex;
  flex-direction: row;
}

.none-screen {
  width: 292px !important;
}

.active {
  background-color: var(--content-active-color);
}

.right-box {
  width: calc(100vw - 360px);
}
